<div>
  <h1>LIBRARY MANAGEMENT SYSTEM</h1>
</div>
<!-- home page link -->
<div class="button-row" id="background1">
  <a [routerLink]="['/books']">
    <label><b>Back to List</b></label>
  </a>
</div>
<!-- edit code is written here -->
<form [formGroup]="bform" (ngSubmit)="onFormSubmit(bform.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ISBN" formControlName="isbn" value={{book.isbn}}
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!bform.get('isbn').valid && bform.get('isbn').touched">Enter ISBN here</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title" value={{book.title}}
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!bform.get('title').valid && bform.get('title').touched">Enter Book Title</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Author" formControlName="author" value={{book.author}}
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!bform.get('author').valid && bform.get('author').touched">Enter Book Author</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" formControlName="description" value={{book.description}}
                  [errorStateMatcher]="matcher"></textarea>
      <mat-error>
        <span *ngIf="!bform.get('description').valid && bform.get('description').touched">Enter Book Description</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Publisher" formControlName="publisher" value={{book.publisher}}
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!bform.get('publisher').valid && bform.get('publisher').touched">Enter Publisher</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Published Year" formControlName="published_year" value={{book.published_year}}
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!bform.get('published_year').valid && bform.get('published_year').touched">Enter Published Year</span>
      </mat-error>
    </mat-form-field>
    <!-- button  to update the record -->
    <div class="button-row">
      <button type="submit" [disabled]="!bform.valid" mat-raised-button color="primary">
        Update
      </button>
    </div>
  </form>
