h1{
  font-family: "Times New Roman";
  text-align: center;
  color: black;
}



.example-card {
  max-width: 500px;
}

.button-row {
  margin: 10px 0;
}


#background1{
  color: darkslateblue;
   font-family: Arial, Helvetica, "Times New Roman";
}
